:root {
    /* This root is basically useless as importing CSS files is not working.
    This might just store useful variables to be used later on.
    
    Until then, this will just be a blank space.*/
}

#page {
    background: linear-gradient(65deg, rgb(204, 138, 16), rgba(255, 41, 41, 0.799));
    border-radius: 15px;
    margin: 10px auto 0px auto;
    min-width: 250px;
    max-width: 700px;
    padding: 5px 2px 10px 7px;
}
a[role="button"] {
    border-radius: 5px;
    border: 1px solid orange;
    padding: 2px 5px 2px 5px;
    background: radial-gradient(to left, orange, orangered);
    color:white;
    text-decoration: none;
}
body {
    background: linear-gradient(90deg, rgb(204, 138, 16) 20%, rgba(217, 82, 10, 0.799) 50%, rgb(204, 138, 16) 80%); /* This is experimental and may change in the future */
}
select[id$="-select"] {
    border-radius: 15px;
    background: linear-gradient(90deg, orange, orangered);
    color: white;
    border: 1px dashed white;
}
select[id$="-select"] > optgroup, select[id$="-select"] > optgroup > option {
    color: white;
    background-color: orange;
}